
<% content_for :body do %>
<script>

$(document).ready(function(){

  $('.ui.radio.checkbox label').on('click', function() {
    $(this).siblings('input').prop('checked', true);
  });

  $('.hint').find(".ui.button").on("click", function(){
    $(this).parent().slideToggle(500);
  });



  var current_chapter = 0;
  var current_step_glob = 0;
  var course_scroll = function() {
    var $chapter = $('.chapter-content[data-chapter="'+current_chapter+'"]');
    var chapter_height =$chapter.find('.card-container')
      .map(function(i,el){
        return $(el).outerHeight(true);
      })
      .toArray()
      .reduce(function(a,b){ 
        return a+b
      }, 0) - $chapter.height();
    var scrollbottom = $chapter.scrollTop() ;
    var width = (scrollbottom*100)/(chapter_height);
    width = Math.min(width, 100);
    $('.chapter-progress').animate({width:width + "%"}, 0);
  };
  course_scroll();
  $( ".chapter-content" ).scroll(course_scroll);

  var chapters = {
      "Interface Introduction":{ completed: false, cards:5 }, 
      "Working with the Arduino":{ completed: false, cards:0 }, 
      "Intro Quiz":{ completed: false, cards:0 },
      "Start a new course":{ completed: false, cards:0 },
      "Course levels":{ completed: false, cards:0 },
  }
  var timeline = new Timeline(chapters);
  var custom_step_functions = {
    0 : function(step) {
            //extra animation
      $('.progress-column').css({display:"block"});
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:0,
        from: { x: -200, y: 0},
        to: { x: 0, y: 0 },
      }).applyTo($('.progress-column')); 
      
     
    },
    1 : function(step) {

    },
    2: function(step) {

    },
    3: function($step) {
       

      
    }, 
    4: function() {

    },
    5:function() {

    },
    11:function() {
      setTimeout(function() {
        $('#arduino-dimmer').animate({opacity:0});
        new Bounce().scale({
          delay:0,
          duration:1500,
          bounces:10,
          from: { x: 0.2, y: 0.2},
          to: { x: 1, y: 1 },
        }).applyTo($('#arduino-connected'))
        $('#arduino-connected').delay(500).toggleClass('confirmation');
        current_step_glob += 1
        setTimeout(function() {
          go_to_next(current_step_glob - 1, current_step_glob);

        }, 500);

      }, 2500);

    }

  }
  var custom_chapter_ftn = {
    1 : function(chapter) {
      $('.course-tags').fadeIn();
    }
  }
  var go_to_next = function(current_step, next_step) {
    mixpanel.track("Go to next card", {'current': current_step, 'next': next_step});
    var $chapter = $('.chapter-content[data-chapter="'+current_chapter+'"]');
    var $current_step = $chapter.find(".card-container[data-step='" + current_step + "']");
    var $next_step = $chapter.find(".card-container[data-step='" + next_step + "']");
    $current_step.find(".stark-card").toggleClass('completed');


    //animation
   
    //create space (->block)
    $next_step.css({opacity:0, display:"block"});
    //scroll down, with newly created space
    console.log( $(".chapter-content")[0].scrollHeight)
    console.log($next_step.offset().top)
    $(".chapter-content").scrollTo($next_step, {offsetTop : '100'});
    //show new card
    setTimeout(
      function(){
        new Bounce().scale({
          delay:0,
          duration:1500,
          bounces:10,
          from: { x: 0.6, y: 0.6},
          to: { x: 1, y: 1 },
        }).applyTo($next_step.find('.stark-card')); 
        $next_step.css({opacity:1});

        if(custom_step_functions[next_step])
          custom_step_functions[next_step]($next_step);
      }, 400);


  }
  $('.annotate').on('click', function() {
    var annotation = $(this).data('annotate');
    console.log('hello');
    $('.annotation[data-annotation='+annotation+']').slideToggle(300);
  })
  $('.stark-card.instruction .next-step').on('click',function() {
    $(this).toggleClass('disabled');
    var current_step = parseInt($(this).closest('.card-container').data('step'));
    var next_step = current_step + 1;
    current_step_glob = next_step;
    go_to_next(current_step, next_step);
  });

  $('.stark-card.question .next-step').on('click',function() {
    var $current_card = $(this).closest('.card-container')
    var current_step = parseInt($current_card.data('step'));
    var next_step = current_step + 1;
    
    var $checked = $current_card.find('.ui.form input:checked');

    if($checked.length == 0) {
      var $hint = $current_card.find('.hint');
      $hint.css({display:"block", opacity:0});
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:10,
        from: { x: 0, y: -50},
        to: { x: 0, y: 0 },
      }).applyTo($hint); 
      $hint.css({opacity:1});
    }
    else {
      var $hint = $current_card.find('.hint');
      $hint.html("<p style='line-height:2em'>Great you're a sharp one aren't you!<i class='ui icon check' style='margin-left:10px;'></i> </p>").css({background:"#1DC6D5", color:"white", opacity: 0, display:"block"})
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:10,
        from: { x: 0, y: -50},
        to: { x: 0, y: 0 },
      }).applyTo($hint); 
      $hint.css({opacity:1});
      $(this).toggleClass('disabled');   
       setTimeout(function() {

        go_to_next(current_step, next_step);

       },1400);
    }
  });
  
  $('.next-chapter').on('click', function() {
    var $current_chapter = $(this).closest('.chapter-content');
    current_chapter = parseInt($current_chapter.data('chapter')) + 1
    var $next_chapter = $('.chapter-content[data-chapter="'+(current_chapter)+'"')
    $current_chapter.fadeOut(400);
    $next_chapter.delay(400).fadeIn(500);
    course_scroll();
    $('.progress-column .user-profile .progress').animate({width:20},1000);
    timeline.nextChapter();
    $('#course-menu h2').text(Object.keys(chapters)[current_chapter]);
    if(custom_chapter_ftn[current_chapter])
      custom_chapter_ftn[current_chapter]();
  });



});


</script>


<body>


  <div class="progress-column" >
    <a class="item user-profile">
      <div class="ui circular image" style="float:left">
         <img src="<%=user.avatar%>">
      </div>
     <div class="stat ui middle aligned content ">
       <h5>
         <span><%=user.firstname%> <%=user.lastname %></span>
       </h5>
       <h6>
         Student | Level 1
       </h6>
      <div class="level" ><div class="progress"></div></div>
     </div>
      
    </a>
    <br>
    <svg id="timeline" style="margin-top:2em" width="300px" height="600px"></svg>

  </div>

  <div id="course-menu">
    <div class="course-tags" style="display:none">
      <a class="ui teal label">
        <i class="ui icon idea"></i>
        Difficulty
        <div class="detail">Beginner</div>
      </a>
      <a class="ui teal label">
        <i class="ui icon setting"></i>
        Hardware
        <div class="detail">Arduino</div>
      </a>
      <a class="ui teal label">
        <i class="ui icon wait"></i>
        Duration
        <div class="detail">10 min</div>
      </a>
    </div>

    <div class="course-details">


        <h4>Introduction to Stark</h4>
        <h2>Blinking an LED </h2>

    </div>

    <div class="chapter-progress"></div>
  </div>
    

      

    
  </div>
  
  <div class="content-container initial">





    <div class="steps row" >  


      <div data-chapter="0" class="chapter-content">
        <div class="chapter-title">Introduction</div>
        <div class="card-container" data-step="0" >
          <div class="stark-card instruction">
            <div class="ui segment basic center aligned">
                <img src="<%= user.avatar %>" alt="" width="150" class="ui image circular" style="
                    border: 3px solid white;
                    box-shadow: 1px 1px 19px rgba(204, 204, 204, 0.7);
                    margin:auto;
                ">
                <h3>Welcome back <%= user.firstname %>, you look fabulous!</h3>
            </div>
            
            <p><span class="drop-cap">Y</span>our brand new profile appears on your left. The panel also contains the card you are on and the upcoming cards.</p>
            <div class="ui basic teal button next-step"> Continue </div>

          </div>
      
        </div>
        
        <div class="card-container" data-step="1" style="display:none">
          <div class="stark-card instruction" >
            <h1>The Progress Bar</h1>
            <p><span class="drop-cap">T</span>he view on your left consists of your profile and current view. We've annoted some UI elements here:
            </p>


            <ul>
              <li ><a href="#" class="annotate" data-annotate="profile">Profile</a>
              <div class="annotation" data-annotation="profile" style="display:none">


              <div class="ui image small" style="
            background: #333;
            width: 197px;
            padding: 10px;
            border-radius: 10px;
            /* opacity: 0.6; */
            margin: auto;
            margin-top:20px;
            display: block;
        "><img src="" alt="">
                    <a class="item user-profile">
                      <div class="ui circular image">
                         <img src="https://avatars.githubusercontent.com/u/5846191?v=3">
                      </div>
                     <div class="stat ui middle aligned content ">
                       <h5>
                         <span>Nadim Islam</span>
                       </h5>
                       <h6>
                         Student | Level 1
                       </h6>
                      <div class="level"><div class="progress"></div></div>
                     </div>
                      
                    </a>
                </div>
                          Your profile consists of your avatar, your name and your current level as a student. The bar below shows how far you are from getting to the next level!
            </div>
            </li>
              <li> <a href="#" class="annotate" data-annotate="progress">Progress</a>

                        <div class="annotation" data-annotation="progress" style="display:none">
              The progress bar increases as you gain points indicated on the corner of the cards.
              As you gain points, your points increase and you level up!
                <div class="elem">
                  <div class="user-profile"><div class="level"><div class="progress" style="width:2px"></div></div></div>
                </div>
                 <div class="ui icon angle right"></div>
                <div class="elem">
                  <span class="ui label points right teal">+200</span>
                </div>
                 <div class="ui icon angle right"></div>
                <div class="elem">
                  <div class="user-profile"><div class="level"><div class="progress" style="width:30px"></div></div></div>
                </div>
                
               
                
            </div>
              </li>
            </ul>
            

            <div class="ui basic teal button next-step"> Gotcha!</div>
          </div>
        </div>
        
        <div class="card-container" data-step="2" style="display:none">
          <div class="stark-card instruction">
            <p> Just a placeholder</p>
            <div class="ui basic teal button next-step"> Gotcha!</div>
          </div>
        </div>
        
        <div class="card-container" data-step="3" style="display:none">
           
          <div class="stark-card question">
            <div class="ui icon check circle"></div>
            <h2>Quiz</h2>
            <span class="ui label points right teal">+200</span>

            <p>Just before you start, let's give you some free points for sticking with us so far! 
             </p>
              <h4> Select the answer to the following question : what is 20 + 22?</h4>
            <div class="ui segment form basic clearing">




                <div class="ui radio checkbox"><input type="radio" name="radio">

                  <label>42</label>
                </div>
                           <div class="ui radio checkbox"><input type="radio" name="radio">
                  <label>The answer to life the universe and everything</label>
                </div>
                <div class="ui radio checkbox"><input type="radio" name="radio">
                  <label>Forty-Two</label>
                </div>
                <div class="ui radio checkbox"><input type="radio" name="radio">
                  <label>101010</label>
                </div>
            </div>
            <div class="ui basic teal button next-step"> <span>Submit</span></div>
              
          </div>
          <div class="hint" style="display:none">
            Select an answer before submitting!
            <div class="ui button">
              <i class="checkmark icon"></i>
              Ok
            </div>
          </div>
        </div>

        


        <div class="card-container" data-step="4" style="display:none">
          <div class="stark-card instruction">
            <p><span class="drop-cap">N</span>ow that you have a few <span class="annotate">experience points</span> under your belt, we can get you to a course.</p>

            <p>The upcoming course will guide through basics of circuits and blinking an led on an arduino. Once you have your arduino ready, we'll be ready to start.</p>
            <div class="ui basic teal button next-step"> Let's begin!</div>
          </div>
        </div>

        <div class="card-container" data-step="5" style="display:none">
          <div class="stark-card instruction">
            <p><span class="drop-cap">T</span>he top bar will always display a quick reference to handy infos such as

              <ul>
                <li>Course Name</li>
                <li>Course Difficulty</li>
                <li>Required Hardware</li>
                <li>Duration</li>

              </ul><span class="annotate">experience points</span> under your belt, we can get you to a course.</p>

            <p>The upcoming course will guide through basics of circuits and blinking an led on an arduino. Once you have your arduino ready, we'll be ready to start.</p>
            <div class="ui basic teal button next-step"> Let's begin!</div>
          </div>
        </div>
        <div class="card-container" data-step="6"  style="display:none;">
          <div class="stark-card instruction">
            <div class="ui center aligned segment basic">
               <img src="/svgs/Medal.svg" width="150" alt="">
              <h4>
           Congratulations! You completed the introduction chapter on Stark.</h4>
           <p>
              Your current <span class="annotate">chapter</span> will always be displayed on the left. <br>
            Everytime you complete a chapter, you will also gain experience <span class="annotate"> points</span> that levels you up.
            <br>
            Since that's out of the way, let's do something fun!
          </p>
            </div>
            

            <p></p>
            <div class="ui basic teal button next-chapter"> Continue</div>
          </div>
        </div>
        
      </div>
      
      <div data-chapter="1" class="chapter-content" style="display:none">
        <div class="chapter-title">Chapter 2: Connecting an Arduino</div>
        <div class="card-container" data-step="10">
          <div class="stark-card instruction">
            <div class="ui center aligned segment basic">
               <img src="/svgs/Checklist.svg" alt="">
            </div>
            <p><span class="drop-cap">T</span>he top bar will always display a quick reference to handy infos such as

              <ul>
                <li>Course Name</li>
                <li>Course Difficulty</li>
                <li>Required Hardware</li>
                <li>Duration</li>

              </ul>
              The upcoming course will guide through basics of circuits and blinking an led on an arduino. Once you have your arduino ready, we'll be ready to start.</p>
            <div class="ui basic teal button next-step"> Let's begin!</div>
          </div>
        </div>
         <div class="card-container" data-step="11" style="display:none;">
          <div class="stark-card instruction">

            <p><span class="drop-cap">F</span>irst thing first, connect your Arduino to the computer.

             <img src="/svgs/usb_computer.svg" alt="">
            
            <p>Once you connect, we will automatically move to the next step</p>
            <div  class="ui segment basic" style="height:0">
              <i id="arduino-connected" class="ui icon check circle" style="display:none;"></i>
              <div id="arduino-dimmer" class="ui active inverted dimmer">
                <div class="ui text loader">Waiting for Arduino...</div>
              </div>
             
            </div>
            
          </div>
        </div>
        <div class="card-container" data-step="12" style="display:none;">
          <div class="stark-card instruction">
                      
            <p><span class="drop-cap">T</span>he top bar will always display a quick reference to handy infos such as

              <ul>
                <li>Course Name</li>
                <li>Course Difficulty</li>
                <li>Required Hardware</li>
                <li>Duration</li>

              </ul><span class="annotate">experience points</span> under your belt, we can get you to a course.</p>

            <p>The upcoming course will guide through basics of circuits and blinking an led on an arduino. Once you have your arduino ready, we'll be ready to start.</p>
            <div class="ui basic teal button next-step"> Let's begin!</div>
          </div>
        </div>
      </div>
    </div>



  </div>
<%= erb (:'partials/code_editor') %>
</body>
<% end %>