
<% content_for :body do %>
<script>

$(document).ready(function(){

  $('.ui.radio.checkbox label').on('click', function() {
    $(this).siblings('input').prop('checked', true);
  });
    $('.hint').find(".ui.button").on("click", function(){
    $(this).parent().slideToggle(500);
  });

  var steps = {
      "Introduction":false, 
      "Intro: Progress Bar":false, 
      "Connecting the Arduino":false, 
      "Intro Quiz":false,
      "Start a new course":false,
      "Course levels":false,
  }
  var timeline = new Timeline(steps);
  var custom_step_functions = {
    0 : function(step) {
            //extra animation
      $('.progress-column').css({display:"block"});
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:0,
        from: { x: -200, y: 0},
        to: { x: 0, y: 0 },
      }).applyTo($('.progress-column')); 
      
     
    },
    1 : function(step) {

    },
    2: function(step) {

    },
    3: function($step) {
       

      /*
      $('.content-container').toggleClass('initial');
      $('#editor-column').css({display:"block"});
     */
    }, 
    4: function() {

    },
    5:function() {
      $('.content-container').css({top:"60px"});

      $('#course-menu').css({display:"block"});
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:0,
        from: { x: 0, y: -100},
        to: { x: 0, y: 0 },
      }).applyTo($('#course-menu')); 
    }

  }
  var current_step = 1
  var go_to_next = function(current_step, next_step) {
    var $current_step = $(".card-container[data-step='" + current_step + "']");
    var $next_step = $(".card-container[data-step='" + next_step + "']");
    $current_step.find(".stark-card").toggleClass('completed');


    //animation
    timeline.nextStep();
    //create space (->block)
    $next_step.css({opacity:0, display:"block"});
    //scroll down, with newly created space
    console.log( $(".course-content")[0].scrollHeight)
    console.log($next_step.offset().top)
    $(".course-content").scrollTo($next_step, {offsetTop : '100'});
    //show new card
    setTimeout(
      function(){
        new Bounce().scale({
          delay:0,
          duration:1500,
          bounces:10,
          from: { x: 0.6, y: 0.6},
          to: { x: 1, y: 1 },
        }).applyTo($next_step.find('.stark-card')); 
        $next_step.css({opacity:1});

        if(custom_step_functions[next_step])
          custom_step_functions[next_step]($next_step);
      }, 400);


  }
  $('.annotate').on('click', function() {
    var annotation = $(this).data('annotate');
    console.log('hello');
    $('.annotation[data-annotation='+annotation+']').slideToggle(300);
  })
  $('.stark-card.instruction .next-step').on('click',function() {
    $(this).toggleClass('disabled');
    var current_step = parseInt($(this).closest('.card-container').data('step'));
    var next_step = current_step + 1;
    
    go_to_next(current_step, next_step);
  });

  $('.stark-card.question .next-step').on('click',function() {
    var $current_card = $(this).closest('.card-container')
    var current_step = parseInt($current_card.data('step'));
    var next_step = current_step + 1;
    
    var $checked = $current_card.find('.ui.form input:checked');

    if($checked.length == 0) {
      var $hint = $current_card.find('.hint');
      $hint.css({display:"block", opacity:0});
      new Bounce().translate({
        delay:0,
        duration:1500,
        bounces:10,
        from: { x: 0, y: -50},
        to: { x: 0, y: 0 },
      }).applyTo($hint); 
      $hint.css({opacity:1});
    }
    else {
      new Bounce().scale({
        delay:0,
        duration:2500,
        bounces:10,
        from: { x: 0.7, y: 0.7},
        to: { x: 1.3, y: 1.3 },
      }).applyTo($current_card.find('.points')); 
      $current_card.find('.points').toggleClass('pinkcolor');
      var $progress = $('.progress-column .level .progress');

        $progress.animate({width: (90)+"px"},500)
       $progress.animate({width: ($progress.width()+10)+"px"},1000)
       $(this).html('Correct! <i class="ui icon check" style="margin:0"></i>')
       $(this).toggleClass('disabled');       
       setTimeout(function() {
        $(this).popup('hide');
        go_to_next(current_step, next_step);

       },1000);
    }
  });



});


</script>


<body>


  <div class="progress-column" >
    <a class="item user-profile">
      <div class="ui circular image" style="float:left">
         <img src="<%=user.avatar%>">
      </div>
     <div class="stat ui middle aligned content ">
       <h5>
         <span><%=user.firstname%> <%=user.lastname %></span>
       </h5>
       <h6>
         Student | Level 1
       </h6>
      <div class="level" ><div class="progress"></div></div>
     </div>
      
    </a>
    <br>
    <svg id="timeline" style="margin-top:2em" width="300px" height="600px"></svg>

  </div>

  <div id="course-menu" style="display:none;">
   <div class="course-tags">
    <a class="ui teal label">
      <i class="ui icon idea"></i>
      Difficulty
      <div class="detail">Beginner</div>
    </a>
    <a class="ui teal label">
      <i class="ui icon setting"></i>
      Hardware
      <div class="detail">Arduino</div>
    </a>
    <a class="ui teal label">
      <i class="ui icon wait"></i>
      Duration
      <div class="detail">10 min</div>
    </a>
    </div>

    <div class="course-details">


        <h4>Introduction to Stark</h4>
        <h2>Blinking an LED </h2>
    </div>
  </div>
    

      

    
  </div>
  <div class="content-container initial">





<divclass="steps row" >  


  <div class="course-content">

    <div class="card-container" data-step="0" >
      <div class="stark-card instruction">
        <div class="ui segment basic center aligned">
            <img src="<%= user.avatar %>" alt="" width="150" class="ui image circular" style="
                border: 3px solid white;
                box-shadow: 1px 1px 19px rgba(204, 204, 204, 0.7);
                margin:auto;
            ">
            <h3>Welcome back <%= user.firstname %>, you look fabulous!</h3>
        </div>
        
        <p><span class="drop-cap">Y</span>our brand new profile appears on your left. The panel also contains the card you are on and the upcoming cards.</p>
        <div class="ui basic teal button next-step"> Continue </div>

      </div>
  
    </div>
    
    <div class="card-container" data-step="1" style="display:none">
      <div class="stark-card instruction" >
        <h1>The Progress Bar</h1>
        <p><span class="drop-cap">T</span>he view on your left consists of your profile and current view. We've annoted some UI elements here:
        </p>


        <ul>
          <li ><a href="#" class="annotate" data-annotate="profile">Profile</a>
          <div class="annotation" data-annotation="profile" style="display:none">


          <div class="ui image small" style="
        background: #333;
        width: 197px;
        padding: 10px;
        border-radius: 10px;
        /* opacity: 0.6; */
        margin: auto;
        margin-top:20px;
        display: block;
    "><img src="" alt="">
                <a class="item user-profile">
                  <div class="ui circular image">
                     <img src="https://avatars.githubusercontent.com/u/5846191?v=3">
                  </div>
                 <div class="stat ui middle aligned content ">
                   <h5>
                     <span>Nadim Islam</span>
                   </h5>
                   <h6>
                     Student | Level 1
                   </h6>
                  <div class="level"><div class="progress"></div></div>
                 </div>
                  
                </a>
            </div>
                      Your profile consists of your avatar, your name and your current level as a student. The bar below shows how far you are from getting to the next level!
        </div>
        </li>
          <li> <a href="#" class="annotate" data-annotate="progress">Progress</a>

                    <div class="annotation invert" data-annotation="progress" style="display:none">
          The progress bar increases as you gain points indicated on the corner of the cards.
          As you gain points, your points increase and you level up!
            <div class="elem">
              <div class="user-profile"><div class="level"><div class="progress" style="width:2px"></div></div></div>
            </div>
             <div class="ui icon angle right"></div>
            <div class="elem">
              <span class="ui label points right teal">+200</span>
            </div>
             <div class="ui icon angle right"></div>
            <div class="elem">
              <div class="user-profile"><div class="level"><div class="progress" style="width:30px"></div></div></div>
            </div>
            
           
            
        </div>
          </li>
        </ul>
        

        <div class="ui basic teal button next-step"> Gotcha!</div>
      </div>
    </div>
    
    <div class="card-container" data-step="2" style="display:none">
      <div class="stark-card instruction">
        <p> Just a placeholder</p>
        <div class="ui basic teal button next-step"> Gotcha!</div>
      </div>
    </div>
    
    <div class="card-container" data-step="3" style="display:none">
       
      <div class="stark-card question">
        <div class="ui icon check circle"></div>
        <h2>Quiz</h2>
        <span class="ui label points right teal">+200</span>

        <p>Just before you start, let's give you some free points for sticking with us so far! 
         </p>
          <h4> Select the answer to the following question : what is 20 + 22?</h4>
        <div class="ui segment form basic clearing">




            <div class="ui radio checkbox"><input type="radio" name="radio">

              <label>42</label>
            </div>
                       <div class="ui radio checkbox"><input type="radio" name="radio">
              <label>The answer to life the universe and everything</label>
            </div>
            <div class="ui radio checkbox"><input type="radio" name="radio">
              <label>Forty-Two</label>
            </div>
            <div class="ui radio checkbox"><input type="radio" name="radio">
              <label>101010</label>
            </div>
        </div>
        <div class="ui basic teal button next-step"> Submit</div>
          
      </div>
      <div class="hint" style="display:none">
          Select an answer before submitting!
      <div class="ui button">
        <i class="checkmark icon"></i>
        Ok
      </div>
      </div>
    </div>

    


    <div class="card-container" data-step="4" style="display:none">
      <div class="stark-card instruction">
        <p><span class="drop-cap">N</span>ow that you have a few <span class="annotate">experience points</span> under your belt, we can get you to a course.</p>

        <p>The upcoming course will guide through basics of circuits and blinking an led on an arduino. Once you have your arduino ready, we'll be ready to start.</p>
        <div class="ui basic teal button next-step"> Let's begin!</div>
      </div>
    </div>

    <div class="card-container" data-step="4" style="display:none">
      <div class="stark-card instruction">
        <p><span class="drop-cap">T</span>he top bar will always display a quick reference to handy infos such as

          <ul>
            <li>Course Name</li>
            <li>Course Difficulty</li>
            <li>Required Hardware</li>
            <li>Duration</li>

          </ul><span class="annotate">experience points</span> under your belt, we can get you to a course.</p>

        <p>The upcoming course will guide through basics of circuits and blinking an led on an arduino. Once you have your arduino ready, we'll be ready to start.</p>
        <div class="ui basic teal button next-step"> Let's begin!</div>
      </div>
    </div>
    
    <div style="height:400px; width:100%">
    </div>
  </div>
</div>


</div>
<%= erb (:'partials/code_editor') %>
</body>
<% end %>